body
{
	padding: 0px;
	margin: 0px;
}

header#mainHeader
{
	height: 200px;
	position: relative;
	padding: 5px;
	background: center center url("source/licornes-chats-internet.jpg") no-repeat;
	/*background-size: cover;*/
	/*background: #949494;*/
	/*box-shadow: 0px 0px 120px #59b3f5 inset;*/
	box-sizing: border-box;
	z-index: 1;
}

header#mainHeader::before
{
	content: " ";
	display: block;
	width: 30vw;
	height: 120%;
	background: #269ff7;
	transform: skewX(-15deg);
	position: absolute;
	box-shadow: 0px 0px 5px black;
	left: -50px;
	top: -10%;
	z-index: -2;
	transition: 1s width, 1s transform;
}

header#mainHeader::after
{
	content: " ";
	display: block;
	width: 27vw;
	height: 120%;
	/*background: #949494;*/
	background: #ffffff;
	transform: skewX(-15deg);
	position: absolute;
	box-shadow: 0px 0px 5px black;
	left: -50px;
	top: -10%;
	z-index: -1;
	transition: 1.08s width, 1s transform;
}

header#mainHeader:hover::before
{
	width: 80vw;
	transform: skewX(30deg);
}

header#mainHeader:hover::after
{
	width: 76vw;
	transform: skewX(30deg);
}

header#mainHeader h1
{
	/*color: rgba(51, 51, 51, 0.73);*/
	font-size: 2em;
	width: 100%;
	text-align: center;
	text-shadow: 0px 0px 15px grey;
	z-index: 5;
}

nav#mainMenu
{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	z-index: 10;
}

nav#mainMenu ul
{
	list-style-type: none;
	width: 100%;
	display: table;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	box-sizing: border-box;
	background: #0f6534;
	box-shadow: 0px 5px 30px #45531d inset, 0px -5px 30px #566b16 inset;
}

nav#mainMenu ul li
{
	padding: 0.6vw;
	display: table-cell;
	background-color: rgba(153, 153, 153, 0);
	text-align: center;
	transition: 0.3s background-color, 0.3s box-shadow;
	box-shadow: none;
}

nav#mainMenu ul li:hover
{
	background: rgba(255, 255, 255, 1.0);
	box-shadow: 0px 0px 10px #2a2a2a;
}

nav#mainMenu li a
{
	display: block;
	text-decoration: none;
	width: 100%;
	color: #c1dfbd;
	transition: 0.3s color;
}

nav#mainMenu li:hover a
{
	text-decoration: none;
	color: #67665b;
}

th
{
	border-radius: 8px;
	background-color: #909090;
}

.cart
{
	width: 50%;
}

.cart td
{
	border-radius: 5px;
	border: 2px solid black;
}
