nav#mainMenu a
{
	display: inline-block;
	width: 20%;
	margin: 0px;
	box-sizing: border-box;
}

nav#mainMenu ul
{
	list-style-type: none;
	width: 100%;
	display: table;
	margin: 0px;
	box-sizing: border-box;
}

nav#mainMenu ul li
{
	display: table-cell;
}
